<div class="container">
    <div class="header-bar">
      Job Application
    </div>
    <div class="content">
      <div class="description">
        <h1 style="color: navy; font-weight: bold;">CX Studio · United Kingdom (Remote)</h1>
        <p style="text-align: justify;">
          
        At CX.Studio we are aiming to be at the forefront of designing contact centre solutions that create exceptional customer experiences; something that we are passionate about. We specialise in the delivery of Amazon Connect, a cloud-based enterprise contact centre solution. Our team, matched with our partners, are uniquely focused on helping businesses improve customer engagement while maximising the benefits of the cloud.


        We are true believers in making every interaction intelligent, natural and enjoyable. If you want an opportunity to make a difference every day for customers, join our team.</p>


        <b>Mid and Senior AWS Developer</b><br>



        <b>Skills / Traits</b>


        <ul>
        <li>Strong knowledge of AWS services and cloud architecture.</li>
        <li>A strong understanding of the way the web works.</li>
        <li>Functional understanding of agile methodologies such as Scrum.</li>
        <li>Able to provide and accept constructive feedback.</li>
        <li>Ability to collaborate with and support other team members.</li>
        <li>A mindset that seeks to understand before prescribing a solution.</li>
        <li>A love of technology and the latest and greatest in development best practices, especially the latest services from AWS.</li>
        <li>Strong opinions, loosely held – a willingness to stand up for your convictions and yet commit to the team's decision.</li>
        <li>Customer-focused.</li>
        <li>Comfortable with automation to build, maintain and deploy solutions via pipelines.</li>
        </ul>


        <b>Preferred</b>


        <ul>
        <li>Familiarity with CDK, CloudFormation, Terraform, JavaScript / TypeScript or Python experience.</li>
        <li>Experience with general Amazon services such as AWS Lambda, DynamoDB, CloudFormation, CodeCommit and CodePipeline.</li>
        <li>Experience with chat and voice-enabled Amazon services such as Connect, Lex, Polly and Transcribe.</li>
        <li>Experience with integrating systems with Generative AI</li>
        </ul>


        <b>Role in the organisation</b>


        <ul>
        <li>Mid Engineers are pivotal members of our delivery teams, bridging the gap between junior talent and senior expertise. You will collaborate closely with our solution architects and senior engineers to execute designs and enhance our overall product. With a continuous learning mindset, you will actively contribute to refining our delivery processes, embrace challenges that come with system development, and seek mentorship to grow professionally. Your feedback is invaluable, and you'll have opportunities to voice your experiences and provide input to improve our collaborative environment.</li>
        <li>Senior Engineers are considered the backbone of our delivery teams. You would be the main builder of the solutions designed by our solution architects and the greater team. You will work to refine the process of delivering projects by building internal tools, suggesting new methods of designing and building a system and providing feedback to the team leads on issues they are experiencing.</li>
        </ul>


        <b>Day to Day</b>


        <ul>
        <li>We know that developing software takes concentration and that meetings are frustrating to developers who need to deliver a system. So, we encourage our PMs to have group meetings in the mornings to allow for open afternoons for continuous development work.</li>
        <li>Morning meetings with the internal team and clients.</li>
        <li>Requirements analysis and design conversations when you have a new project starting.</li>
        <li>Working on issues in Jira with your team - building systems, creating CloudFormation/CDK/Terraform templates to deploy resources, etc.</li>
        <li>Learning best practices used in the NodeJS, JavaScript/TypeScript, and Python communities.</li>
        <li>Working with your mentor/team leads to further knowledge of AWS Services, tools, or even new languages to address project needs.</li>
        <li>You'll need to be eager to learn and develop your skills to support the team and customers.</li>
        </ul>


        <b>Benefits</b>

        <p>Aside from the exposure to great technology, support team and personal growth, we offer:</p>
        <ul>
        <li>Competitive Salary</li>
        <li>Private medical insurance</li>
        <li>Pension</li>
        <li>Flexible working</li>
        <li>Option for 100% remote or based in London. If working remotely, you'll join the team in the office 2-3 days per month to foster a strong team spirit.</li>
        </ul>
        <b>Please note:</b><p> We can only hire people who have permission and the right to live and work in the UK. We cannot sponsor or be a sponsor to anyone.</p>
      </div>
      <div class="upload-section">
        <h1 style="color: navy; font-weight: lighter;">Apply here</h1>
        <input type="text" id="name" placeholder="Name">
        <input type="email" id="email" placeholder="Email ID">
        <input type="text" id="phone" placeholder="Phone Number">
        <select id="gender">
            <option value="" disabled selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="trans">Transgender</option>
            <option value="other">Other</option>
        </select>
        <select id="disability">
            <option value="" disabled selected>Disability Status</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="prefer_not_to_say">Prefer Not To Say</option>
        </select>
        <input type="text" id="visa" placeholder="Visa Status">
        <label for="resume">Resume:</label>
        <input type="file" id="resume">
        <button id="submit" disabled>Submit</button>
    </div>
    
    </div>
  </div>
